@font-face {
    font-family: raleway;
    src: url(Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: golos;
    src: url(GolosText-VariableFont_wght.ttf);
}

.center {
    border: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    gap: 30px;
}

img {
    padding: 20px;
}

.animated-gradient {
    font-size: 50px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-animation: gradient 8s ease infinite;
    -moz-animation: gradient 8s ease infinite;
    animation: gradient 8s ease infinite;
}

a:link, a:visited { 
    text-decoration: none; 
    color: black;
    width:100%;
} 

a:hover {
    font-weight: bold;
}

h5 {
    font-size: 27px;
    margin: 0;
    text-align: center;
}

ul {
    margin: 5px;
    list-style-type: square;
}

body {
    font-family:golos;
}

.pageTitle {
    font-size: 70px;
    animation-name: example;
}

.projectBox {
    padding: 15px;
    border: solid;
    border-width: 3px;
    border-radius: 15px;
    background-color:transparent;
    border-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) 1;
    width: 45%;
    height:auto;
}

.projectBox:hover {
    border: none;
}

.projectDiv {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 25px;
    column-gap: 25px;
}

.projectHeadContainer {
    display:flex;
    padding-right: 5px;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    column-gap: 20px;
}

.linkContainer {
    font-family: golos;
    display:flex;
    flex-direction: row;
    justify-content: right;
    column-gap: 20px;
}

.fancyLink {
    font-size: 15px;
    font-weight: bold;
    transition: 0.4s;
}

.fancyLink:hover {
    font-size: 20px;
    background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 120% 120%;
    background-clip: text;
}

.bigFancyLink {
    font-size: 30px;
    font-weight: bold;
    transition: 0.4s;
}

.bigFancyLink:hover {
    font-size: 40px;
    background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 120% 120%;
    background-clip: text;
}

footer {
    padding: 50px;
    display:flex;
    padding-right: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.socialLink {
    font-size: 15px;
    transition: 0.4s;
}

.socialLink:hover {
    font-weight: bold;
    background-clip: text;
}

.horizontalContainer {
    font-family: golos;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:baseline;
    column-gap: 10px;
}

.sindy {
    font-size: 65px;
    transition: 0.4s;
}

.sindy:hover {
    font-size: 85px;
}


@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}